<h1>Přihlášení zaměstnance</h1>
<% form_for @employee, :url => '/employee/login' do |f| %>
  <%= error_messages_for :employee %>
  <label for="employee_session_login">Uživatelské jméno</label>
  <%= text_field 'employee_session', 'login' %>
  <label for="employee_session_password">Heslo</label>
  <%= password_field 'employee_session', 'password' %>
  <p class="chk"><%= f.check_box :remember_me %> 
  <%= f.label :remember_me %></p>
  <%= f.submit 'Ok' %>
<% end %>
