<div id="ia_checkbox">
      <%= check_box_tag :show_ia_form %>
      <%= label_tag :show_ia_form, 'Fakturační adresa je jiná než adresa doručení', :style => 'width:70%' %>
    </div>
    <div id="ia_form" class="dis">

<%= of.semantic_fields_for :invoice_address do |f| %>
  <%= f.inputs :name => 'Fakturační adresa' do %>
      <%= f.input :name %>
      <%= f.input :street %>
      <%= f.input :place %>
      <%= f.input :post_code, :size => 6, :maxlength => 6 %>
      <%= f.input :id_number, :label => 'IČ' %>
      <%= f.input :vat_number, :label => 'DIČ' %>
  <% end %>
<% end %>
    </div>

