
<div id="success"></div>
<div id="cwrap">
<h2>Nákupní košík</h2>
<% if @products.any? %>
<table id="cart" class="listing">
  <thead>
    <tr>
      <th>Název</th>
      <th>Cena s DPH</th>
      <th>Kusů</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="tar"><b>Celkem</b></td>
      <td class="tac"><b id="total_price"><%= format_price(@order.sum) %></b></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
  <tbody>
  <% @products.each do |product| %>
    <tr id="p_<%= product.id %>" class="<%= cycle('even', 'odd') %>">
      <td class="product-name"><%= product_linked_title(product) %></td>
      <td class="price tac"><%= format_price(product.cost(@order)) %></td>
      <td class="amount tac" title="Klikněte pro změnu počtu kusů"><%= product.count(@order) %>ks</td>

      <td class="remove">
        <%= link_to image_tag('admin/knob/remove.png', :alt => 'remove'),
            "/cart/remove/#{product.id}", :remote=>true, :title=>'Odstranit',
            :method => :delete, :confirm => "Opravdu odstranit z košíku?" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<p class="help">
  Počet kusů je měnitelný kliknutím na číslo
</p>
<p id="cart_actions">
  <a href="/cart/clean" title="Vysypat košík">Vysypat košík</a>
  <a class="submit" href="/cart/review" title="Odeslat objednávku">Odeslat objednávku</a>
</p>
<div class="out"></div>
<% else %>
  <p><strong>Nákupní košík je prázdný</strong></p>
<% end %>
</div>
