<div id="cwrap">
<h2>Vytvoření objednávky</h2>
<table id="cart" class="listing">
  <thead>
    <tr>
    <th>Výrobek</th>
    <th class="tar">Cena za kus</th>
    <th class="tar">Počet kusů</th>
    <th class="tar">Cena s DPH</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td class="tar" colspan="3"><b>Celkem za zboží</b></td>
      <td class="tar"><b id="sum"><%= format_price @order.sum %></b></td>
    </tr>
  </tfoot>
  <tbody id="order_review">
    <% @products.each do |product| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td class=""><%= product.title %></td>
        <td class="col100width tar"><%= format_price product.price %></td>
        <td class="col100width tar"><%= product.count(@order) %></td>
        <td class="col140width tar"><%= format_price product.cost(@order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="total" class="<%= 'dis' if @order.payment_method.nil? %>">
  <h1>Cena celkem včetně poštovného:
  <span><%= @order.payment_method.nil? ? @order.sum : @order.sum + @order.payment_method.cost %></span> <%= AppConfig.currency %></h1>
</div>

<div class="oform">
  <%= semantic_form_for @order, :url => order_path do |of| %>
    <%= of.hidden_field :id, :value => @order.id %>

    <%#= of.error_messages %>
    <%= of.inputs :name => 'Způsob platby' do %>
      <%= of.input :payment_method, :as => :radio, :label => false,
                   :collection => PaymentMethod.options %>
    <% end %>

    <%= of.semantic_fields_for :customer do |f| %>
     <%= f.inputs :name => 'Kontakt' do %>
      <%= f.input :email %>
      <%= f.input :phone %>
     <% end %>

     <%= f.inputs :name => 'Adresa' do %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :street %>
      <%= f.input :place %>
      <%= f.input :post_code, :size => 6, :maxlength => 6 %>
     <% end %>
    <% end %>

    <%= of.inputs :name => 'Zpráva pro nás' do %>
      <%= of.text_area :message, :value => @order.message, :cols => 40, :rows => 3 %>
    <% end %>
    <br/>
    <%= of.button "Vytvořit objednávku", class: 'button' %>
  <% end %>
</div>
</div>
