<h1>Vytvoření objednávky</h1>
<h2>Výrobky, které objednáváte</h2>
<table class="listing">
  <thead>
    <tr>
    <th>Výrobek</th>
    <th>KS</th>
    <th>Cena za KS</th>
    <th>Cena<br/>s DPH</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="3"><b>Celkem</b></td>
      <td><b><%= format_price @order.sum %></b></td>
    </tr>
  </tfoot>
  <tbody id="order_review">
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td class="col70width"><%= product.count %></td>
        <td class="col100width"><%= format_price product.price %></td>
        <td class="col100width"><%= format_price product.cost %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= semantic_form_for @order, :url => order_path do |of| %>
    <%= of.hidden_field :id, :value => @order.id %>

    <%= of.error_messages %>

    <%= of.semantic_fields_for :customer do |f| %>
     <%= f.inputs :name => 'Kontakt' do %>
      <p>Prosíme, vyplňte aspoň jeden následující kontaktní údaj.</p>
      <%= f.input :email %>
      <%= f.input :phone %>
     <% end %>

     <%= f.inputs :name => 'Adresa' do %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :street %>
      <%= f.input :place %>
      <%= f.input :post_code, :size => 6, :maxlength => 6 %>
     <% end %>
    <% end %>

    <%= render :partial => 'invoice_address_form',
               :locals => { :of => of } %>

    <%= of.text_area :message, :value => @order.message, :cols => 40, :rows => 3 %>

    <%= of.commit_button "Vytvořit objednávku" %>
  <% end %>
</div>
