<%
  if resource.id
    url    = customer_index_path
    method = :put
    title  = 'Změna údajů'
  else
    url    = register_path
    method = :post
    title  = 'Registrace nového zákazníka'
  end
%>
<h2><%= title %></h2>
<div class="oform">
  <%= semantic_form_for resource, :url => url, :method => method do |f| %>
    <%#= devise_error_messages %>


    <%= f.inputs 'Jméno a adresa' do %>
      <%= f.input :name %>
      <%= f.input :surname %>
      <%= f.input :phone %>
      <%= f.input :street %>
      <%= f.input :place %>
      <%= f.input :post_code %>
    <% end %>

    <%= f.inputs 'Přihlašovací údaje' do %>
      <%= f.input :email %>
      <p class=" tac lpad">Pokud nechcete měnit heslo, nechte pole prázdná.</p>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.input :current_password %>
    <% end %>

    <%= f.inputs do %>
      <%= f.commit_button (@customer.id ? 'Uložit' : 'Registrovat se') %>
    <% end %>

  <% end %>
</div>
