<td class="col100width"><%= link_to "#{o.customer.name} #{o.customer.surname}", 
        "users/customer/view/#{o.customer.id}",
        :rel => 'facebox', :remote => true %>
</td>
<td class="col70width"><%= o.created_at.strftime('%d. %m. %Y') %></td>
<td class="col20width"><%= o.items.count %></td>
<td class="col40width"><%= o.sum %></td>
<td class="col40width">
  <%= select_tag(:state, options_for_select(Order.state_options, o.state),
                 :id=>"state_#{o.id}", :class => 'state-box' )%>
</td>
<td class="col200width in-line note">
  <%= text_area_tag "note_#{o.id}", o.note, :style => 'width:98%', :rows=>3 %>
</td>
<th class="col40width">
    <%= link_to image_tag('admin/zoom.png', :alt => 'show'),
                manage_order_path(o.id),
                :title => 'Podrobnosti', :class => 'inline' %>
    <%= link_to image_tag('admin/printer.png', :alt => 'print'),
                manage_order_invoices_path(o.id),
                :title => 'Faktury', :class => 'inline' %>
</th>
