<h1>Podrobnosti o objednávce</h1>
<div id="showorder">
<fieldset><legend>Informace o zákazníku</legend>
<strong>
  <%= @customer.name + ' ' + @customer.surname.capitalize %>
</strong> (#<%= @customer.id %>)<br/><br/>
Email: <strong><%= @customer.email %></strong><br/>
Tel.: <strong><%= @customer.phone %></strong><br/><br/>
Registrován: <%= @customer.created_at.strftime('%d. %m. %Y') %>
<br/>Uskutečněných objednávek: <%= @customer.orders.count %>
</fieldset>

<fieldset><legend>Adresa doručení</legend>
<%= @customer.name + ' ' + @customer.surname %><br/>
<%= @customer.street %><br/>
<%= @customer.post_code + ' ' + @customer.place %>
</fieldset>

<fieldset><legend>Podrobnosti o objednávce</legend>
Vytvoření: <%= @record.created_at.strftime('%d. %m. %Y') %><br/>
Stav: <%= @record.state_in_words %><br/><br/>
<strong>Cena celkem:</strong> <%= @record.sum %><br/>
</fieldset>

<% if @record.invoices.any? %>
<fieldset><legend>Faktury</legend>
  <% @record.invoices.each do |invoice| %>
    <%= link_to invoice.forma_in_words, manage_order_invoice_path(@record.id, invoice.id) %><br/>
  <% end %>
  <%= link_to "Vytvořit storno fakturu",
              new_manage_order_invoice_path(@record.id, :forma => 'storno'),
              :rel => 'facebox' %>
</fieldset>
<% end %>

<fieldset><legend>Produkty</legend>
<table class="listing">
<thead><tr><th colspan="2">Produkt</th><th>Cena</th><th>Kusů</th></tr></thead>
<tbody>
<% @record.items.each do |i| %>
  <tr>
  <% if i.product %>
    <td><%= image_tag i.product.picture.url(:square), :width => 40 if i.product.picture %></td>
    <td class="item"><%= i.product.title %><br/><%= text_field_tag :note, i.note, :id => "item_#{i.id}" %></td>
  <% else %><td></td><td></td>
  <% end %>
    <td><%= i.price %></td>
    <td><%= i.amount %></td>
</tr>
<% end %>
</tbody>
</table>
</fieldset>
<% if @record.message? %>
  <fieldset><legend>Zpráva od zákazníka</legend>
    <%= @record.message %>
  </fieldset>
<% end %>
</div>
<br/>
<%= render :partial => 'state' %>
