<%
  if @record.id
    title  = 'Upravit stránku'
    url    = manage_page_path @record.id
    submit = 'Upravit'
    method = :put
  else
    title  = 'Nová stránka'
    url    = manage_pages_path
    submit = 'Vytvořit'
    method = :post
  end
%>
<h1><%= title %></h1>
<div class="mform">
<% form_for @record, :url => url, :method => method,
                     :html => { :multipart => true } do |f| %>
  <div id="errors"></div>
  <%= f.label :title, 'Nadpis stránky *' %>
  <%= f.text_field :title %>

  <%= f.label :url, 'URI *' %>
  <%= f.text_field :url %>

  <%= f.label :wiki_url, 'URL na wiki s textem' %>
  <%= f.text_field :wiki_url %>
  
  <%= f.submit submit %>
<% end %>
</div>
