<h1><%= @title %></h1>
<fieldset><legend>Uživatelé</legend>
Počet registrovaných zákazníků: <%= @customer_count %><br/>
Počet evidovaných zaměstnanců: <%= @employee_count %><br/>
</fieldset>
<fieldset><legend>Objednávky celkově</legend>
Počet dokončených objednávek: <%= @finished_orders_count %><br/>
Počet čekajících objednávek: <%= @waiting_orders_count %><br/>
<br/>
Celkem zaplaceno za zboží: <%= @total_sum_orders %><br/>
</fieldset>
<fieldset><legend>Objednávky tento měsíc</legend>
Počet dokončených objednávek: <%= @m_finished_orders_count %><br/>
Počet čekajících objednávek: <%= @m_waiting_orders_count %><br/>
<br/>
Celkem zaplaceno za zboží: <%= @m_total_sum_orders %><br/>
</fieldset>

<fieldset><legend>Dodávky celkově</legend>
Počet dokončených dodávek: <%= @finished_supplies_count %><br/>
Počet čekajících dodávek: <%= @waiting_supplies_count %><br/>
<br/>
Celkem zaplaceno za zboží: <%= @total_sum_supplies %><br/>
</fieldset>
<fieldset><legend>Dodávky tento měsíc</legend>
Počet dokončených dodávek: <%= @m_finished_supplies_count %><br/>
Počet čekajících dodávek: <%= @m_waiting_supplies_count %><br/>
<br/>
Celkem zaplaceno za zboží: <%= @m_total_sum_supplies %><br/>
</fieldset>

