<h1><%= @title %></h1>
<% @stats.each do |month, data| %>
  <h2><%= month.strftime('%B %Y') %></h2>
  <h3>Produkty</h3>
  <table cellpadding="7" class="centr greyborder">
    <tbody>
      <% data[:orders].each do |order| %>      
      <tr>
        <td><%= order.items.inject(0){|count,item| count += item.amount } %></td>
        <td><%= order.sum %></td>
        <td><%= dph(order.sum).round(3) %></td>
        <td><%= (order.sum - dph(order.sum)).round(3) %></td>
        <td><%= order.items.collect{|i|
                  "#{i.product.title}#{"(#{i.amount})" if i.amount > 1}"
            }.join(', ') %></td>
      </tr>
      <% end %>      
    </tbody>
    <thead>
      <tr>
        <th>Produktů</th>
        <th>S DPH</th>
        <th>DPH</th>
        <th>Bez DPH</th>
        <th>Produkty</th>
      </tr>
    </thead>
  </table>
  <h3>Celkem</h3>
  <table cellpadding="7" class="centr greyborder">
    <tbody>
      <tr>
        <td><%= data[:count] %></td>
        <td><%= data[:sum] %></td>
        <td><%= dph(data[:sum]).round(3) %></td>
        <td><%= (data[:sum] - dph(data[:sum])).round(3) %></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Počet hotových<br/>objednávek</th>
        <th>Celkový příjem<br/>s DPH</th>
        <th>DPH</th>
        <th>Bez DPH</th>
      </tr>
    </thead>
  </table>
<% end %>
