<h1><%= @title %></h1>
<% @products.each do |product, order| %>
  <p>
    <%= order %> x <%= link_to product.title, manage_catalog_product_path(product.id) %> 
  </p>
<% end %>

<p class="larger centr pad greyborder">
  <%= link_to "<< Předchozí", "/manage/statistics/month/#{@month.prev_month.month}/#{@month.prev_month.year}" %>
  |
  <%= link_to "Následující >>", "/manage/statistics/month/#{@month.next_month.month}/#{@month.next_month.year}" %>
</p>
