<h1>Import kategorií z XML souboru</h1>
<div class="mform">
<%= form_tag( { :action => 'import' }, :multipart => true ) %>
<% if @error %>
  <div class="error"><%= @error %></div>
<% end %>
  <p><%= label_tag :file, 'Vyberte soubor pro import' %>
     <%= file_field_tag :file %>
  </p>
  <%= submit_tag 'Import' %>
</form>
</div>
