<%
  if @record.id
    title  = 'Upravit kategorii'
    url    = "/manage/catalog/category/#{@record.id}"
    submit = 'Upravit'
    method = :put
  else
    title  = 'Nová kategorie zboží'
    url    = '/manage/catalog/category'
    submit = 'Vytvořit'
    method = :post
  end
%>
<h1><%= title %></h1>
<div class="mform">
<% form_for @record, :url => url, :remote => true, :method => method do |f| %>
  <div id="errors"></div>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 5 %>
  <%= f.submit submit %>
<% end %>
</div>
