<h1 style="margin:auto;">Proforma faktura</h1>
<p>
  Číslo objednávky: <%= @order.id %><br/>
  Datum vystavení: <%= @invoice.created_at.strftime("%e. %m. %Y") %><br/>
</p>
<div style="border:#000 solid 1px;padding:1ex;width:20em;float:left">
  <%= render :partial => 'invoice/address' %>
</div>
<% if @order.invoice_address %>
  <div style="border:#000 solid 1px;padding:1ex;width:20em;float:right">
    <%= render :partial => 'invoice/customer_address' %>
  </div>
<% end %>
<div style="clear:both"></div>
<table cellspacing="7" cellpadding="4" style="width:100%">
<tbody>
<% @items.each do |item| %>
  <tr style="text-align:center;border-top:#000 solid 1px;">
    <td class="col140width" style="text-align:left;">
      <%= item.product.title %>
    </td>
    <td><%= item.note %></td>
    <td style="text-align:centr;">
      <%= item.amount %>
    </td>
    <td style="text-align:right;">
      <b><%= format_invoice_price(item.price) %></b>
    </td>
  </tr>
<% end %>
  <tr style="border-top:#000 solid 1px;">
    <td style="text-align:left;"><b>Celkem</b></td>
    <td></td>
    <td></td>
    <td style="text-align:right;">
      <b><%= format_invoice_price(@invoice.sum) %></b>
    </td>
  </tr>
</tbody>
<thead>
  <tr style="font-weight:bold;">
    <td>Název zboží/služby</td>
    <td></td>
    <td style="text-align:center;">ks</td>
    <td style="text-align:right;">cena včetně DPH</td>
  </tr>
</thead>
</table>

<table style="margin:auto" cellspacing="7">
<tr style="text-align:right;">
  <td style="margin-right:1em">Základ pro výpočet DPH 20% (cena včetně DPH)</td>
  <td><%= format_invoice_price(@invoice.sum) %></td>
</tr>
<tr style="text-align:right;">
  <td style="margin-right:1em">DPH 20%</td>
  <td><%= format_invoice_price(dph(@invoice.sum)) %></td>
</tr>
<tr style="text-align:right;">
  <td style="margin-right:1em">Použito na úhradu jiného plnění celkem</td>
  <td><%= format_invoice_price(@invoice.sum) %></td>
</tr>
</table>

