<h2>Zapomněli jste své heslo?</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.commit_button "Zaslat instrukce k obnovení hesla" %>
    <div class="out">
      <%= render :partial => "devise/shared/links" %>
    </div>
  <% end %>

<% end %>
