  <% @suppliers.each do |s| %>
    <tr url="/manage/catalog/supplier/<%=s.id%>">
        <td><%= s.name %></td>
        <td><%= s.email %></td>
        <td><%= s.phone %></td>
        <td><%= s.url %></td>
        <th>
          <%= link_to image_tag('admin/zoom.png', :alt => 'show'),
              manage_catalog_supplier_path(s.id), :title => 'Podrobnosti' %>
        </th>
        <th>
          <%= link_to image_tag('admin/edit-icon.gif', :alt => 'edit'),
              edit_manage_catalog_supplier_path(s.id), 
              :rel=>"facebox", :title=>"Úprava dodavatele" %>
        </th>
        <th><%= csrf_meta_tag %>
          <%= link_to image_tag('admin/hr.gif', :alt => 'remove'),
              manage_catalog_supplier_path(s.id), :remote => true,
              :method => :delete, :confirm => "Opravdu smazat dodavatele?",
              :title => "Odstranit dodavatele" %>
        </th>
    </tr>
  <% end %>
