<h2>Kontakty na etnoshop Matahari</h2>
<div class="box">
<%= @text.body.html_safe %>
<br/>
<h3>Online formulář pro dotazy</h3>
<span>Zeptejte se nás na vše, co Vám není jasné a my Vám v krátké době
odpovíme.</span>
<div id="contact_form" class="cform">
<%= form_tag contact_form_path, :method => 'post' do %>

  <div id="contact_info" class="left">
    <div class="fdiv">
      <%= label_tag :name, 'Vaše jméno a příjmení' %>
      <%= text_field_tag :name, flash[:params][:name] %>
    </div>

    <div class="fdiv">
      <%= label_tag :email, 'Váš email' %>
      <%= text_field_tag :email, flash[:params][:email] %>
    </div>

    <div class="fdiv">
      <%= label_tag :phone, 'Vaše telefonní číslo' %>
      <%= text_field_tag :phone, flash[:params][:phone] %>
    </div>
  </div>

  <div id="contact_question" class="left">
    <div class="fdiv">
      <%= label_tag :question, 'Vaše otázky nebo požadavky' %>
      <%= text_area_tag :question, flash[:params][:question], :rows => 9 %>
    </div>
  </div>

  <div class="out tar"><%= submit_tag 'Odeslat' %></div>
<% end %>
</div>
</div>
