<h1 style="font-size:28px">Kontakt na obchod Matahari</h1>
<h2>Internetový obchod</h2>
  <a href="http://www.etnoshop-matahari.cz" title="Etno a šperky z Indonésie - Matahari">www.etnoshop-matahari.cz</a>
  nebo
  <a href="http://ethnoshop.eu" title="Matahari: Etno a šperky z Indonésie">ethnoshop.eu</a>
<br/><br/>
Nataliya Kalenska
<table>
  <tr><td class="tar"><i>tel: </i></td><td>+420 739 092 124</td></tr>
  <tr><td class="tar"><i>mail: </i></td><td>matahari.decoration@gmail.com</td></tr>
</table>
<br/>
<h2>Kamenný obchod</h2>
Naše šperky můžete zakoupit také v prodejně <em>Království pro každého</em>
<table>
  <tr><td><i>adresa: </i></td><td>Pod Kopečkem 33</td></tr>
  <tr><td></td><td>Jablonné nad Orlicí, 561 64</td></tr>
</table>
<br/>
<h2>Online formulář pro dotazy</h2>
<span>Zeptejte se nás na vše, co Vám není jasné a my Vám v krátké době
odpovíme.</span>
<div id="contact_form" class="mform cform">
<%= form_tag contact_form_path, :method => 'post' do %>

  <div id="contact_info" class="left">
    <div class="fdiv">
      <%= label_tag :name, 'Vaše jméno a příjmení' %>
      <%= text_field_tag :name, flash[:params][:name] %>
    </div>

    <div class="fdiv">
      <%= label_tag :email, 'Váš email' %>
      <%= text_field_tag :email, flash[:params][:email] %>
    </div>

    <div class="fdiv">
      <%= label_tag :phone, 'Vaše telefonní číslo' %>
      <%= text_field_tag :phone, flash[:params][:phone] %>
    </div>
  </div>

  <div id="contact_question" class="left">
    <div class="fdiv">
      <%= label_tag :question, 'Vaše otázky nebo požadavky' %>
      <%= text_area_tag :question, flash[:params][:question], :rows => 9 %>
    </div>
  </div>

  <div class="out tar"><%= submit_tag 'Odeslat' %></div>
<% end %>
</div>
