<table id="product_list">
<% @products.each_with_index do |product, index| %>
  <%= tag('tr', :valign=>'top') if index % 4 == 0 %>
    <td>
      <%= product_linked_image product %>
      <%= product_linked_title product %>
      <div class="product_info">
        <strong><%= format_price(product.price) %></strong>
        <%= into_cart_link(product.friendly_id) if product.amount != 0 %>
      </div>
    </td>
<% end %>
</table>
<%= paginate @products %>
