<table id="product_list">
<% @products.each do |product| %>
  <tr valign="top">
    <td>
      <%= link_to image_tag(product.picture.url(:square), :alt => 'image', :align => 'left'), product.picture.url(:large), :class => 'im' %>
    </td>
    <td>
      <h2>
       <%= product_link product %>
      </h2>
      <p><%= product.description.html_safe if product.description %></p>
      Cena s DPH: <strong><%= format_price(product.price) %></strong>

      <span class="leftpad">
        <%= into_cart_link(product.friendly_id) if product.amount != 0 %>
      </span>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @products, {:param_name => @pparam, :class => 'pagination'} %>
