<table id="product_list">
<% @products.each_with_index do |product, index| %>
  <%= content_tag('tr', :valign => 'top') do %>
    <td>
      <%= product_linked_image product %>
      <%= product_linked_title product %>
      <div class="product_info">
        <strong><%= format_price(product.price) %></strong>
        <%= into_cart_link(product.friendly_id) if product.amount != 0 %>
      </div>
    </td>
  <% end if index % 3 == 0 %>
<% end %>
</table>
<%= will_paginate @products, {:param_name => @pparam, :class => 'pagination'} %>
