<h2>Přihlášení zákazníka</h2>

<%= semantic_form_for(resource, :as => resource_name, :url => login_path) do |f| %>

  <%= f.inputs do %>
    <%= f.input :email %>
    <%= f.input :password %>
    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean %>
    <% end -%>
    <%= f.commit_button "Přihlásit" %>

    <div class="out">
      <%= render :partial => "devise/shared/links" %>
    </div>

  <% end %>

<% end %>
