<h1>Vyberte zboží a zadejte počet kusů k objednávce</h1>
<%= form_tag manage_catalog_supplier_order_path(@supplier, @supply.id), 
             :method => 'put' %>
<div id="errors"><%= @error if @error %></div>             
<table class="listing">
  <thead><tr>
    <th>Název</th><th>Popis</th>
    <th>Skladem</th><th style="width:6em">Vložit kusů</th></tr>
  </thead>
  <tbody id="products">
  <% @entries.each do |e| %>
    <tr>
      <td><%= e.product.title %></td>
      <td><%= e.product.description %></td>
      <td><%= e.product.amount %></td>
      <th>
      <%= text_field_tag "amount[#{e.product.id}]", e.quantity, :size=>3 %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>
<p class="floatright"><%= submit_tag 'Vložit zboží' %></p>
</form>
