<h1>Podrobnosti o dodávce zboží</h1>
<div id="showorder">
<p>Dodavatel: <strong>
<%= link_to @supplier.name, manage_catalog_supplier_path(@supplier) %>
</strong></p>

<fieldset><legend>Podrobnosti o objednávce</legend>
Vytvoření: <%= @supply.created_at.strftime('%d. %m. %Y') %><br/>

<% if @supply.state == 1 %>
Stav: Nevyřízeno<br/>
Očekávané datum doručení: <%=@supply.delivered_at.strftime('%d. %m. %Y')%>
<% elsif @supply.state == 2 %>
Stav: Hotovo (vyřídil 
<u><%= link_to @supply.employee.login,
               "/manage/users/employee/#{@supply.employee.id}" %></u>)<br/>
Datum doručení: <%=@supply.delivered_at.strftime('%d. %m. %Y')%>
<% end %><br/><br/>
<strong>Cena celkem:</strong> <%= @supply.sum %><br/>
</fieldset>

<fieldset><legend>Produkty</legend>
<table class="listing">
<thead><tr><th colspan="2">Produkt</th><th>Cena</th>
<th>Objednaných kusů</th></tr>
</thead>
<tbody>
<% @supply.entries.each do |i| %>
<tr><td><%= i.product.title %></td>
    <td><%= image_tag i.product.picture.url(:square), :width => 40 %></td>
    <td><%= i.product.price %></td>
    <td><%= i.quantity %></td>    
</tr>
<% end %>
</tbody>
</table>
</fieldset>
</div>
