<%
  if @record.id
    title  = 'Upravit informace o zaměstnanci'
    url    = "/manage/users/employee/#{@record.id}"
    submit = 'Upravit'
    method = :put
  else
    title  = 'Nový zaměstnanec'
    url    = '/manage/users/employee'
    submit = 'Vytvořit'
    method = :post
  end
%>
<h1><%= title %></h1>
<div class="mform">
<% form_for @record, :url=> url, :remote => true, :method => method do |f| %>
  <div id="errors"></div>
  <%= f.label :login, 'Přihlašovací jméno *' %>
  <%= f.text_field :login %>
  <%= f.label :email, 'E-mail *' %>
  <%= f.text_field :email %>
  <%= f.label :phone, 'Telefon' %>
  <%= f.text_field :phone %>
<% if current_employee.id == @record.id or not @record.id %>
  <%= f.label :password, 'Heslo *' %>
  <%= f.password_field :password %>  
  <%= f.label :password_confirmation, 'Potvrzení hesla *' %>
  <%= f.password_field :password_confirmation %>
<% end %>
  <%= f.submit submit %>
<% end %>
</div>
