  <% @employees.each do |e| %>
    <tr><td><%= e.login %></td>
        <td><%= e.email %></td>
        <td><%= e.phone %></td>
        <th class="col40width">
          <a href="/manage/users/employee/<%=e.id%>/edit" rel="facebox">
            <%= image_tag('admin/edit-icon.gif', :alt => 'edit') %>
          </a>
        </th>
        <th class="col40width"><%= csrf_meta_tag %>
          <%= link_to image_tag('admin/hr.gif', :alt => 'remove'),
              "/manage/users/employee/#{e.id}", :remote => true,
              :method => :delete, :confirm => "Are you sure?" %>
        </th>
    </tr>
  <% end %>
