<%
  if @record.id
    title  = 'Upravit informace o zákazníku'
    url    = "/manage/users/customer/#{@record.id}"
    submit = 'Upravit'
    method = :put
  else
    title  = 'Nový zákazník'
    url    = '/manage/users/customer'
    submit = 'Vytvořit'
    method = :post
  end
%>
<h1><%= title %></h1>
<div class="mform">
<% form_for @record, :url=> url, :remote => true, :method => method do |f| %>
  <div id="errors"></div>
  <%= f.label :email, 'E-mail *' %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Heslo *' %>
  <%= f.password_field :password %>  
  <%= f.label :name, 'Jméno *' %>
  <%= f.text_field :name %>
  <%= f.label :surname, 'Příjmení *' %>
  <%= f.text_field :surname %>
  <%= f.label :phone, 'Telefon' %>
  <%= f.text_field :phone %>
  <%= f.label :street, 'Ulice *' %>
  <%= f.text_field :street %>
  <%= f.label :place, 'Město *' %>
  <%= f.text_field :place %>
  <%= f.label :post_code, 'PSČ *' %>
  <%= f.text_field :post_code %>
  <%= f.submit submit %>
<% end %>
</div>
