  <% @customers.each do |c| %>
    <tr><td><%= c.name + ' ' + c.surname %></td>
        <td><%= c.email %></td>
        <td><%= c.phone %></td>
        <td><%= c.place %></td>
        <th class="col40width">
          <a href="/manage/users/customer/<%=c.id%>/edit" rel="facebox">
            <%= image_tag('admin/edit-icon.gif', :alt => 'edit') %>
          </a>
        </th>
    </tr>
  <% end %>
