<div id="showcustomer">
<h1>
  <%= @record.name if @record.name %> <%= @record.surname if @record.surname %>
</h1>
<p>Login uživatele: <%= @record.login %></p>
<fieldset><legend>Kontakty</legend>
  <p>E-mail: <%= @record.email %></p>
  <p>Telefon: <%= @record.phone %></p>
</fieldset>
<fieldset><legend>Adresa</legend>
  <p>
  <%= @record.name if @record.name %> <%= @record.surname if @record.surname %>
  </br><%= @record.street %></br>
  <%= @record.post_code %> <%= @record.place %>
  </p>
</fieldset>
</div>
