<h1><%= @title %></h1>

<p>
  <a href="<%= edit_customer_path %>" title="Úprava údajů">Zobrazit nebo upravit osobní údaje</a>
</p>
<br/>
<h2>Uskutečněné objednávky</h2>
<% if @orders.any? and !(@orders.count == 1 and @orders.first.state == 0) %>
<table class="listing" style='width:95%'>
  <thead>
    <tr>
      <th>Stav</th>
      <th>Cena</th>
      <th>Poslední změna</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="4">
        <%= will_paginate @orders, {:class => 'pagination'} %>
      </td>
    </tr>
  </tfoot>
  <tbody id="products">
  <% @orders.each do |o| %>
    <% next if o.state == 0 %>
    <tr>
      <td>
        <%= o.state_in_words %>
      </td>
      <td class="col100width">
        <%= format_price(o.sum) %>
      </td>
      <td>
        <%= o.updated_at.strftime("%d.%m.%Y %H:%M") %>
      </td>
      <th>
        <a href="<%= customer_order_path o.id %>" rel="facebox" title="Zobrazit objednávku">
          <%= image_tag('admin/zoom.png', :alt => 'detail') %>
        </a>
      </th>
      <% if o.state == 1  %>
      <th>
          <%= link_to image_tag('admin/printer.png', :alt => 'faktura' ),
              customer_bill_path(o.id), :title=>"Vytisknout fakturu" %>
      </th>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <p>Dosud zde nebyla učiněna žádná objednávka.</p>
<% end %>
