<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title><%= @title %></title>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<% if protect_against_forgery? %><script type='text/javascript'>
//<![CDATA[
window._auth_token_name = "<%= request_forgery_protection_token %>";
window._auth_token = "<%= form_authenticity_token %>";
//]]></script><% end %>

<%= csrf_meta_tag %>
<meta name="keywords" content="<%= h(truncate(@meta_keywords, :lenght=>200)) %>"/>
<meta name="description" content="<%= h(truncate(strip_tags(@meta_desc), :lenght=>300)) %>"/>

<!--[if lt IE 9]>
<script src="/html5shiv.js"></script>
<%= stylesheet_link_tag "ie8fix" %>
<![endif]-->
<!--[if lt IE 8]>
<%= stylesheet_link_tag "ie7fix" %>
<![endif]-->
</head>
<body>
<noscript><div id="nojs">
  Máte vypnutý JavaScript nebo jej Váš prohlížeč nepodporuje. Funkčnost stránek
  i Vaše pohodlí jsou tím omezeny.
</div></noscript>
<div id="wrap">
  <header>
		<div id="right_header_menu" class="right rpad">
      <% if current_customer %>
        <a href="/customer">Můj účet</a>
      | <%= link_to 'Odhlásit', logout_path %> |
      <% end %>
      <%= link_to 'Úvodní stránka', root_url %> |
      <%= link_to 'Obchodní podmínky', '/obchodni-podminky' %> |
      <%= link_to 'Kontakt', contact_form_path %> |
      <%= link_to cart_path do %>
        <span>Košík: <%= pluralize(@order.items.size, 'položka', 'položky', 'položek') %>, <%= format_price(@order.sum) %></span>
      <% end %>
		</div>


    <div id="logo">
      <%= link_to root_path do %>
        Artre<span>/Starožitnosti</span>
      <% end %>
    </div>

    <div class="out"></div>
  </header>

  <div id="messages"><%= display_flashes %></div>

  <div id="awrap">
    <aside id="categories">
      <menu>
        <% @categories.each_with_index do |category, index| %>
          <li class="category<%= ' active' if active_category?(category) %>">
            <%= link_to category.title, catalog_path(category.friendly_id) %>
            <% if category.children.any? %>
              <ul>
              <% category.children.each do |child| %>
                <li class="subcategory">
                  <%= link_to child.title, catalog_path(child.friendly_id) %>
                </li>
              <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </menu>
    </aside>

    <article id="content">
      <section><%= yield %></section>
    </article>
    <div class="out"></div>
  </div>
</div>

	<footer>
    <span id="copy" class="inn">
      &copy; <%= Time.now.year %> <%= link_to 'Artre', root_url %>
    </span>
  </footer>

<% if Rails.env.development? %>
  <div class="out" style="text-align:left">
    <%= debug @debug %>
  </div>
<% end %>

</body>
</html>
