<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title><%= @title %></title>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<% if protect_against_forgery? %><script type='text/javascript'>
//<![CDATA[
window._auth_token_name = "<%= request_forgery_protection_token %>";
window._auth_token = "<%= form_authenticity_token %>";
//]]></script><% end %>

<%= csrf_meta_tag %>
<meta name="keywords" content="<%= h(truncate(@meta_keywords, :lenght=>200)) %>"/>
<meta name="description" content="<%= h(truncate(strip_tags(@meta_desc), :lenght=>300)) %>"/>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28036445-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<noscript><div id="nojs">
  Máte vypnutý JavaScript nebo jej Váš prohlížeč nepodporuje. Funkčnost stránek
  i Vaše pohodlí jsou tím omezeny.
</div></noscript>
<div id="wrap">
  <header>
		<div id="right_header_menu" class="right rpad">
      <%= render :partial => '/layouts/right_header_menu' %>
		</div>
    <div id="logo">
      <%= link_to image_tag('matahari-logo.png'), root_url
      %><%= link_to "Matahari", root_url %>
    </div>
    <menu>
      <% @categories.each_with_index do |category, index| %>
        <li class="category">
          <%= link_to category.title, catalog_path(category.friendly_id) %>
          <% if category.children.any? %>
            <ul>
            <% category.children.each do |child| %>
              <li class="subcategory">
                <%= link_to child.title, catalog_path(child.friendly_id) %>
              </li>
            <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </menu>
    <div class="out"></div>
  </header>

  <article>
    <section id="messages"><%= display_flashes %></section>
    <section id="content"><%= yield %></section>
    <% unless @categories.blank? %>
    <section id="categories">
      <menu>
        <li><%= link_to 'Úvodní stránka', root_url %></li>
        <li><%= link_to 'Obchodní podmínky', '/obchodni-podminky' %></li>
        <li><%= link_to 'Kontakt', contact_form_path %></li>
        <li><%= link_to 'Nákupní košík', cart_path %></li>
      </menu>
      <% @categories.each_with_index do |category, index| %>
        <%= tag('menu') if index % 4 == 0 %>
          <li class="category">
            <%= link_to category.title, catalog_path(category.friendly_id) %>
          </li>
        <%= "</menu>".html_safe if index % 4 == 3 %>
      <% end %>
      <div class="out"></div>
    </section>
    <% end %>
  </article>
</div>

	<footer>
    &copy; <%= Time.now.year %> <%= link_to 'Etnoshop Matahari', root_url %>
  </footer>
<% if Rails.env.development? %>
  <div class="out" style="text-align:left">
    <%= debug @debug %>
  </div>
<% end %>
</body>
</html>
