<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title><%= @title %></title>
<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
<link href="/stylesheets/facebox.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/admin.css" media="screen" rel="stylesheet" type="text/css" />
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'jquery.tablednd' %>
<%= javascript_include_tag 'facebox' %>
<%= javascript_include_tag 'imgpreview' %>
<%= javascript_include_tag 'admin' %>
<% if protect_against_forgery? %><script type='text/javascript'>
//<![CDATA[
window._auth_token_name = "<%= request_forgery_protection_token %>";
window._auth_token = "<%= form_authenticity_token %>";
//]]></script><% end %>

<meta name="keywords" content="<%= h(truncate(@meta_keywords, :lenght=>200)) %>"/>
<meta name="description" content="<%= h(truncate(@meta_desc, :lenght=>300)) %>"/>
</head>

<body>
<noscript><div id="nojs">
  Máte vypnutý JavaScript nebo jej Váš prohlížeč nepodporuje. Funkčnost stránek
  i Vaše pohodlí jsou tím omezeny.
</div></noscript>

<div id="main">
  <div id="header">	
		<ul id="top-navigation">
      <%= top_navigation %>
		</ul>
	</div>
  <div id="middle">

    <div id="left-column">      
      <% if @menu %>
			  <ul class="nav"><%= navigation %></ul>
      <% end %>
      <!--
			<a href="#" class="link">Link here</a>
			<a href="#" class="link">Link here</a>
      -->
    </div>
    <div id="center-column">
      <% 
        ['error', 'success'].each do |f| 
          if flash[f.to_sym] %>
            <div class="<%=f%>"><%= flash[f.to_sym] %></div>
      <%    break
          end
        end %>
      <%= yield %>
    </div>
    <div id="right-column">
			<strong class="h">INFO</strong>
			<div class="box"><%= @info %></div>
	  </div>

	</div>
	<div id="footer"></div>  
</div>

<div class="out">
  <%= debug @debug %>
</div>
</body>
</html>
